<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>KategoriFilmController</servlet-name>
        <servlet-class>com.film.controller.KategoriController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeminjamanController</servlet-name>
        <servlet-class>com.film.controller.PeminjamanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataFilmController</servlet-name>
        <servlet-class>com.film.controller.DataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFilmController</servlet-name>
        <servlet-class>com.film.controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenyewaanController</servlet-name>
        <servlet-class>com.film.controller.PenyewaanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenjualanController</servlet-name>
        <servlet-class>com.film.controller.PenjualanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PengembalianController</servlet-name>
        <servlet-class>com.film.controller.PengembalianController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KategoriFilmController</servlet-name>
        <url-pattern>/KategoriFilmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeminjamanController</servlet-name>
        <url-pattern>/PeminjamanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataFilmController</servlet-name>
        <url-pattern>/DataFilmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFilmController</servlet-name>
        <url-pattern>/CustomerFilmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenyewaanController</servlet-name>
        <url-pattern>/PenyewaanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenjualanController</servlet-name>
        <url-pattern>/PenjualanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PengembalianController</servlet-name>
        <url-pattern>/PengembalianController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
